<?xml version="1.0" ?>
<config>
    <modules>
        <Test_My>
            <version>0.0.1</version>
        </Test_My>
    </modules>
    <global>
        <models>
            <testmy>
                <class>Test_My_Model</class>
                <resourceModel>testmy_resource</resourceModel>
            </testmy>
            <testmy_resource>
                <class>Test_My_Model_Resource</class>
                <entities>
                    <table_testmy>
                        <table>table_testmy</table>
                    </table_testmy>
                </entities>
            </testmy_resource>
        </models>
        <resources>
            <testmy_setup>
                <setup>
                    <module>Test_My</module>
                </setup>
            </testmy_setup>
        </resources>
        <blocks>
            <testmy>
                <class>Test_My_Block</class>
            </testmy>
        </blocks>
        <helpers>
            <testmy>
                <class>Test_My_Helper</class>
            </testmy>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <testmy module="testmy">
                    <file>testmy.xml</file>
                </testmy>
            </updates>
        </layout>
        <routers>
            <testmy>
                <use>standard</use>
                <args>
                    <module>Test_My</module>
                    <frontName>test</frontName>
                </args>
            </testmy>
        </routers>
    </frontend>
    <admin>
        <routers>
            <testmy_admin>
                <use>admin</use>
                <args>
                    <module>Test_My</module>
                    <frontName>testmy_admin</frontName>
                </args>
            </testmy_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <testmy module="testmy">
                <title>Test</title>
                <sort_order>777</sort_order>
                <action>testmy_admin/adminhtml_test</action>
            </testmy>
        </menu>
    </adminhtml>
</config>