<?xml version="1.0" ?>
<config>
    <modules>
        <My_Work>
            <version>0.0.1</version>
        </My_Work>
    </modules>
    <frontend>
        <layout>
            <updates>
                <mywork module="mywork">
                    <file>mywork.xml</file>
                </mywork>
            </updates>
        </layout>
        <routers>
            <mywork>
                <use>standard</use>
                <args>
                    <module>My_Work</module>
                    <frontName>faq</frontName>
                </args>
            </mywork>
        </routers>
    </frontend>
    <global>
        <models>
            <mywork>
                <class>My_Work_Model</class>
                <resourceModel>mywork_resource</resourceModel>
            </mywork>
            <mywork_resource>
                <class>My_Work_Model_Resource</class>
                <entities>
                    <table_work>
                        <table>my_work_entities</table>
                    </table_work>
                </entities>
            </mywork_resource>
        </models>
        <resources>
            <mywork_setup>
                <setup>
                    <module>My_Work</module>
                </setup>
            </mywork_setup>
        </resources>
        <helpers>
            <mywork>
                <class>My_Work_Helper</class>
            </mywork>
        </helpers>
        <blocks>
            <mywork>
                <class>My_Work_Block</class>
            </mywork>
        </blocks>
    </global>
    <admin>
        <routers>
            <mywork_admin>
                <use>admin</use>
                <args>
                    <module>My_Work</module>
                    <frontName>mywork_admin</frontName>
                </args>
            </mywork_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <mywork module="mywork">
                <title>Work</title>
                <sort_order>77</sort_order>
                <action>mywork_admin/adminhtml_work</action>
            </mywork>
        </menu>
    </adminhtml>
</config>